#banner {
    background-image: url("https://styles.redditmedia.com/t5_2s580/styles/bannerBackgroundImage_ib65tlpqt9c81.png?width=4000&s=743909a86e9584e57417f5820e68d0533235140a");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}